@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@primary-color: #eb835b; // primary color for all components
@secondary-color: #ffdd1c;
@dark-color: #1b1b1b;
@base-primary-color: #FB9300;
@base-secondary-color: #343F56;
@menu-text-color: #d4d4d4;
@border-radius-base: 4px; // major border radius
@layout-sider-background: @base-secondary-color;
@layout-header-background: @base-primary-color;
@menu-inline-submenu-bg: @base-secondary-color;
@menu-bg: @base-secondary-color;
@menu-popup-bg: @base-secondary-color;
@menu-item-color: @menu-text-color;
@menu-highlight-color: @primary-color;
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for
@font-family: "Open Sans", sans-serif;


.btn-success{
  border-color: @success-color;
  background: @success-color;
}

.btn-dark{
  border-color: @dark-color;
  background: @dark-color;
  &:hover{
    background: lighten(@dark-color, 30%);
  }
  &:focus{
    background: lighten(@dark-color, 20%);
  }
}